{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len":0,
    "no-console":0,
    "react/jsx-no-bind":0,
    "react/prefer-stateless-function":0,
    "no-class-assign":0,
    "no-dupe-keys": 0,
    "comma-dangle":1,
    "array-bracket-spacing":1,
    "comma-spacing":1,
    "quote-props": ["error", "as-needed", { "keywords": true, "unnecessary": false }]
  }
}